accelerate==1.1.1
adapters==1.2.0
dotenv
google-genai==1.41.0
h5py==3.15.1
ipykernel==6.29.5
jupyter=1.1.1
matplotlib==3.10.0
openai==1.85.0
pandas==2.2.3
pymilvus==2.6.0
torch==2.5.1
sentence-transformers==3.3.1
semantic_text_splitter==0.22.0
semeval
pyyaml

langchain
langchain-ollama